# Project files
README.md


# Build and CI files
.k8s/


# Git files
.git/
.github/
.githooks/
.gitignore


# Test files
tests/


# IDE files
.vscode/
.idea/


# Docker files
Dockerfile
docker-compose.yml
.dockerignore